.profile-popup{
    font-size: 12px;
    width: 400px;
    height: 400px;
    background-color: #eee;
    position: absolute;
    color: #000;
    border-radius: 5px;
    border-top-right-radius: 0px;
    overflow: auto;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
    right: 0;
    
}

.contact-information{  
    padding: 5px;
    background-color: #ECE9F6;
    border: 1px solid #e8e4ed;
}

.contact-information-header{
    display:flex;
    justify-content: space-between;
}



.contact-phone:hover{
    color: #272739;
    font-weight: bold;
}


