.send-group{
    display:flex;
    justify-content: space-between ;
    border-top:1px solid #81818c;
    padding-top: 5px;

}
.send-input{
    width: 90%;
    height: 40px;
    border-radius: 3px;
    background: transparent;
    outline: 0;
    border: 0; 
    color: #fff;
}
.send-input::placeholder{
    color: #c6becb;
    font-style: italic;
}
.message{
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
    font-size: 15px;
    padding: 0px 0px 5px;

}
.send-message{
    background-color: #1ba076;
    color: #fff;
    font-size: 15px;
    padding: 2px 14px;
    border-radius: 4px;
    outline: none;
    border:0;
    transition: all .3s ease;
}
.send-message:hover{
    background: transparent;
    color: #1ba076;
    outline: none;
}
.message-user{
    display: block;
    color: #afafbd;
    line-height: 0;
    /* padding: 6px 0px; */
}
.message-text{
    margin-left: 30px;
    display: block;
    font-size: 14px;
}